---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import avatar from "../assets/img/avatar.webp";
import SkillCard from "../components/SkillCard.astro";
import ButtonUI from "../components/ui/ButtonUI.astro";
import ChipUI from "../components/ui/ChipUI.astro";
import { Skills } from "../data/skills";
import Layout from "../layouts/Layout.astro";
---
<Layout title="eitaar - Portfolio" description="Portfolio of Eitaar.">
	<!--About section -->
	<section class="relative px-6 py-40" id="about">
		<div class="mx-auto max-w-5xl">
			<h2 class="mb-8 text-center font-Bungee text-5xl">Profile</h2>
			<div class="flex flex-col items-center justify-center gap-12 py-20 lg:flex-row lg:gap-20">
				<div class="shrink-0">
					<Image
						src={avatar}
						alt="Eitaar's Avatar"
						class="rounded-full border-4 border-b-gray-500"
						width={275}
						height={275}
					/>
				</div>
				<div class="flex flex-col gap-4">
					<h3 class="font-Bungee text-5xl text-primary">eitaar</h3>
					<div class="flex flex-row gap-2">
						<ButtonUI
							icon="mdi:github"
							iconOnly={true}
							color="neutral"
							isLink={true}
							href="https://github.com/eitaar"
							target="_blank"
						/>
						<ButtonUI
							icon="mdi:discord"
							iconOnly={true}
							color="neutral"
							onclick="window.copyToClipboard('eitaar')"
						/>
					</div>
					<div class="space-y-4">
						<div class="flex flex-col gap-1">
							<p class="profile-title">Hobby</p>
							<p class="text-lg">Minecraft / Manga / Music</p>
						</div>
						<div class="flex flex-col gap-1">
							<p class="profile-title">Nationality</p>
							<p class="text-lg">Japanese</p>
						</div>
						<div class="flex flex-col gap-1">
							<p class="profile-title">Location</p>
							<p class="text-lg">United Kingdom</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Skills Section -->
	<section class="px-6 py-20" id="skills">
		<div class="mx-auto max-w-7xl">
			<h2 class="mb-8 text-center font-Bungee text-5xl">Skills</h2>
			<div class="mb-8 flex flex-wrap items-center justify-center gap-3">
				{
          ["All", "Language", "Framework", "Design", "Other"].map((label) => (
            <ChipUI
              label={label}
              variant="outline"
              isRadio={true}
              name="tags"
              selected={label === "All"}
            />
          ))
        }
			</div>
			<div id="skill-wrapper">
				<div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4" id="skill-area">
					{
            Skills.slice(0, 999).map((skill) => (
              <SkillCard
                icon={skill.icon}
                name={skill.name}
                description={skill.description}
                confidence={skill.confidence}
                tags={skill.tags}
              />
            ))
          }
				</div>
			</div>
		</div>
	</section>
	<script>
	function filterTags(selectedTag: string): void {
		const cards = document.querySelectorAll(".SKILLCARD") as NodeListOf<HTMLElement>;

		cards.forEach((card) => {
			const tag = card.dataset.tag;

			if (selectedTag === "all" || tag === selectedTag) {
				card.style.display = "block";
			} else {
				card.style.display = "none";
			}
		});
	}

	// Add event listeners to radio buttons
	document.addEventListener("astro:page-load", () => {
		const radioInputs = document.getElementsByName("tags") as NodeListOf<HTMLInputElement>;
		radioInputs.forEach((input) => {
			input.addEventListener("change", () => {
				if (input.checked) {
					filterTags(input.value.toLowerCase());
				}
			});
		});
	});

	function copyToClipboard(text: string): void {
		navigator.clipboard.writeText(text).then(
			() => {
				console.log("Text copied to clipboard: ", text);
			},
			(err) => {
				console.error("Could not copy text: ", err);
			},
		);
	}
	window.copyToClipboard = copyToClipboard;
	</script>
</Layout>
