---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Glyph from "../assets/glyph.svg";
import dotAvatar from "../assets/img/dotAvatar.png";
import blenderIcon from "../assets/svg/blender.svg";
import typescriptIcon from "../assets/svg/typescript.svg";
import AboutHero from "../components/AboutHero.astro";
import ProjectHero from "../components/ProjectHero.astro";
import Layout from "../layouts/Layout.astro";

const projects = await getCollection("projects");
const topProjects = projects.filter((project) => project.data.topProject);
---

<Layout title="portfolio" description="a portfolio page">
	<Glyph
		aria-label="glyph logo"
		class="absolute top-1/2 left-1/2 -z-10 m-auto w-11/12 -translate-x-1/2 -translate-y-1/2 fill-current text-white blur sm:h-4/5 sm:w-auto sm:blur-lg"
		id="glyph"
	/>
	<div
		class="flex h-svh w-full flex-col-reverse items-center justify-center gap-6 px-6 sm:flex-row sm:gap-12 sm:px-12"
	>
		<div class="flex flex-col items-center justify-center gap-4 sm:items-start sm:gap-6">
			<h2 class="font-Ndot text-4xl tracking-wider sm:text-7xl">EITAAR</h2>
			<p
				class="mt-2 pl-2 font-SpaceMono text-sm tracking-[0.2rem] text-subContent sm:mt-4 sm:text-2xl"
			>
				DEVELOPER
			</p>
		</div>
		<Image
			src={dotAvatar}
			alt="Dot Avatar"
			class="h-32 w-32 rounded-full sm:h-56 sm:w-56"
			fetchpriority={"high"}
			loading={"eager"}
			format="avif"
		/>
	</div>
	<div
		class="container mx-auto flex min-h-screen flex-col items-center justify-center gap-12 px-6 py-24 sm:gap-16 sm:px-12"
		id="about"
	>
		<h3 class="title">ABOUT</h3>
		<AboutHero
			heading="Engineered with logic. Designed with aesthetics."
			text={`I work with a wide range of modern technologies, including TypeScript, Python, Astro, and Vue.\nI’m currently expanding my skills in 3D modelling, graphic design, and Rust to support my projects.`}
			Icon={typescriptIcon}
			iconPosition="left"
		/>
		<AboutHero
			heading="More than just a hobby."
			text={`In my free time, I enjoy exploring creative pursuits like coding, 3D modelling, and reading comics.\nI love experimenting with new tools and techniques that help me bring ideas to life`}
			Icon={blenderIcon}
			iconPosition="right"
		/>
	</div>
	<div
		class="container mx-auto flex min-h-screen flex-col items-center justify-center gap-12 px-6 py-24 sm:gap-16 sm:px-12"
		id="projects"
	>
		<h3 class="title">PROJECTS</h3>
		{
			topProjects.map((project, index) => (
				<ProjectHero
					title={project.data.title}
					description={project.data.description}
					chips={project.data.chips}
					numbering={index + 1}
					url={project.data.url}
					githubUrl={project.data.githubUrl}
					imagePosition={index % 2 === 0 ? "left" : "right"}
					imageSrc={project.data.imageSrc}
					topProject={true}
					lastUpdated={project.data.lastUpdated}
				/>
			))
		}
	</div>
</Layout>
