---
import type { ProjectProps } from "../types/global";

interface Props extends ProjectProps {}
const { title, description, imageUrl, slug } = Astro.props;

import { Image } from "astro:assets";
---
<a
	class="PROJECTCARD rounded-lg bg-base-100 shadow flex flex-col hover:-translate-y-1 transition-transform! duration-200 hover:shadow-lg"
	href={`/projects/${Astro.props.slug}`}
>
	<div class="w-full h-54 border-b-2 border-base-300">
		<Image
			src={imageUrl}
			alt={title}
			class="w-full h-full object-cover rounded-t-lg"
			loading="lazy"
			quality="high"
			height={250}
		/>
	</div>
	<div class="px-6 py-4 flex flex-col gap-1">
		<h3 class="text-xl font-bold">{title}</h3>
		<p class="text-base-content/90 text-sm leading-relaxed">{description}</p>
	</div>
</a>
