---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import ChipComponent from "./ChipComponent.astro";

type ProjectProps = CollectionEntry<"projects">["data"];

interface Props extends ProjectProps {
	id: string;
	numbering: number;
	imagePosition: "left" | "right";
}

const {
	id,
	title,
	description,
	chips,
	numbering,
	imagePosition,
	imageSrc,
	url,
	githubUrl,
	lastUpdated,
	topProject = false,
} = Astro.props;

const slug = title
	.toLowerCase()
	.trim()
	.replace(/\s+/g, "-")
	.replace(/[^a-z0-9-]/g, "")
	.replace(/-+/g, "-")
	.replace(/^-+|-+$/g, "");
---

<article
	class="group flex flex-col items-center justify-center gap-8 md:flex-row md:items-stretch md:gap-12 lg:gap-16"
	class:list={{
		"md:flex-row-reverse": imagePosition === "right",
	}}
>
	<Image
		src={imageSrc}
		alt={title}
		class="h-auto w-full max-w-[480px] rounded-lg border-2 border-content object-cover grayscale transition-all duration-300 group-hover:grayscale-0 md:max-w-[520px]"
		format="avif"
		width={440}
		height={248}
		fetchpriority="low"
		loading="lazy"
		quality="high"
	/>
	<div
		class="flex h-full w-full max-w-2xl flex-col items-center gap-6 py-2 text-center md:items-start md:gap-8 md:text-left"
	>
		<p class="numbering">({numbering.toString().padStart(3, "0")})</p>
		<h2 class="projectTitle hover-underline-animation">{title}</h2>
		<p class="text">{description}</p>
		<div class="flex flex-wrap items-center justify-center gap-4 md:justify-start md:gap-6">
			{chips.map((text) => <ChipComponent label={text} />)}
		</div>
		<a class="link mt-auto justify-self-end md:self-start" href={`/projects/${slug}`}>
			Project Details
		</a>
	</div>
</article>
