---
import type { ProjectProps } from "../type/types";

const { title, description, chips, numbering, imagePosition, imageSrc } = Astro.props;
interface Props extends ProjectProps {}

import { Image } from "astro:assets";
import ChipComponent from "./ChipComponent.astro";

const slug = title.toLowerCase().replace(/[^a-z0-9]+/g, "");
---

<div
	class="flex items-stretch justify-center gap-10 px-28"
	class:list={imagePosition === "left" ? "flex-row" : "flex-row-reverse"}
>
	<Image
		src={imageSrc}
		alt={title}
		class="rounded-lg border-2 border-content object-cover grayscale"
		format="avif"
		width={440}
		height={248}
	/>
	<div class="flex h-full flex-col gap-4 py-1">
		<p class="numbering">({numbering.toString().padStart(3, "0")})</p>
		<h4 class="projectTitle">{title}</h4>
		<p class="text">{description}</p>
		<div class="flex items-center justify-start gap-4">
			{chips.map((text) => <ChipComponent text={text} />)}
		</div>
		<a class="link mt-auto justify-self-end" href={`/projects/${slug}`}> See More </a>
	</div>
</div>
