---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import ModelInfo from '../../components/three/info';

export async function getStaticPaths() {
  const modelEntries = await getCollection('models');
  return modelEntries.map((entry) => ({
    params: { slug: entry.data.filename.split('.')[0] },
    props: {
      filename: entry.data.filename,
      date: entry.data.date,
      title: entry.data.title,
      description: entry.data.description,
    },
  }));
}
interface Props {
  filename: string;
  date: Date;
  title: string;
  description?: string;
}
const { filename, date, title, description } = Astro.props;
---

<Layout title={title}>
  <ModelInfo
    title={title}
    description={description}
    date={date}
    test={{ title, description, date }}
    client:load
  />
  <div class="fixed top-0 left-0 h-screen w-full bg-[#17191d]"></div>
  <canvas id="threeCanvas" data-filename={filename} class="fixed">
    <p>Couldn't load canvas</p>
  </canvas>
</Layout>
<script>
  import show3DModel from '../../assets/src/three';
  document.addEventListener('DOMContentLoaded', () => {
    const canvas = document.getElementById('threeCanvas') as HTMLCanvasElement;
    const queryParams = new URLSearchParams(window.location.search);
    const isDeveloperMode = queryParams.get('dev') === 'true';
    const filename = canvas.dataset.filename || 'warn.gltf';
    if (canvas) {
      show3DModel(canvas, filename, isDeveloperMode);
    } else {
      console.error('Canvas element not found');
    }
  });
</script>
